<form id="my-msg" method="POST">
<label >order</label>
    <input type="text" name="message" id="speechToText" placeholder="Speak Something" >
</form>

    
        <title>Restaurant</title>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >  
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
          
          <style>
            body{
background-image: url('https://casasensei.com/wp-content/uploads/2019/06/South-Indian-Bruschetta-Recipe.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
              a{
                  text-decoration: none;
                  color:#FFF;
              }
              .caption
              {
                  text-align: center;
              }
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 20px;
  background-color: rgb();
}
th, td {
  padding: 15px;
}
th{
  background-color: rgb(0,139,139);
}
td{
  background-color: rgb(211,211,211);
}
.jumbotron{
background-color: #80ced6;
}
                        </style>
    
    <body onload="record()">

        <div class="container">
            <div class="jumbotron">
                <h1 style="text-align:center; ">Welcome to Namma Restaurant!</h1>
                <h2 style="text-align:center; ">Taste the best food!!!</h2>
            </div>
       <h2>Starters</h2>    
      <table style="width:100%">
  <tr>
    <th>Item</th>
    <th>Price</th>
  </tr>
  <% for(var i=0; i<starters.length; i++){ %>
  <tr>
         <td><%=starters[i][0] %></td>
         <td><%=starters[i][1] %></td>
         
   </tr>
   <% } %>
  
</table>
<h2>Main course</h2>
 <table style="width:100%">
  <tr>
    <th>Item</th>
    <th>Price</th>
  </tr>
  <% for(var i=0; i<mainCourse.length; i++){ %>
  <tr>
         <td><%=mainCourse[i][0] %></td>
         <td><%=mainCourse[i][1] %></td>
         
   </tr>
   <% } %>
</table>
<h2>Desserts</h2>
 <table style="width:100%">
  <tr>
    <th>Item</th>
    <th>Price</th>
  </tr>
  <% for(var i=0; i<desserts.length; i++){ %>
  <tr>
         <td><%=desserts[i][0] %></td>
         <td><%=desserts[i][1] %></td>
         
   </tr>
   <% } %>
</table>
<h2>Beverages</h2>
 <table style="width:100%">
  <tr>
    <th>Drink</th>
    <th>Price</th>
  </tr>
  <% for(var i=0; i<bevarages.length; i++){ %>
  <tr>
         <td><%=bevarages[i][0] %></td>
         <td><%=bevarages[i][1] %></td>
         
   </tr>
   <% } %>
</table>
<h2>Breads</h2>
 <table style="width:100%">
  <tr>
    <th>Item</th>
    <th>Price</th>
  </tr>
   <% for(var i=0; i<breads.length; i++){ %>
  <tr>
         <td><%=breads[i][0] %></td>
         <td><%=breads[i][1] %></td>
         
   </tr>
   <% } %>
 </table>
   <h2>Curries</h2>
 <table style="width:100%">
  <tr>
    <th>Item</th>
    <th>Price</th>
  </tr>
   <% for(var i=0; i<curries.length; i++){ %>
  <tr>
         <td><%=curries[i][0] %></td>
         <td><%=curries[i][1] %></td>
         
   </tr>
   <% } %>
</table>
 <footer>
            <div class="container">
                <center>
                	<form action="/extras" method="get">
                   <button class="btn btn-primary" style="position:fixed; right: 0;bottom:0;padding: 12px 28px;">Extras</button>       
                    </form>
                </center>
            </div>
        </footer>
    






   
    <!-- Below is the script for voice recognition and conversion to text-->
    <script>
        function record() {
            var recognition = new webkitSpeechRecognition();
            recognition.lang = "en-GB";

            recognition.onresult = function(event) {
                // console.log(event);
                document.getElementById('speechToText').value = event.results[0][0].transcript;
                fetchmsg();
            }
                recognition.start();
            	recognition.continuous=true;
            recognition.addEventListener('end', function() { 
            	record();
            });

        } 
     function fetchmsg(){
     console.log('ss');
     var url = 'http://localhost:3000/send-msg';
      
      const data = new URLSearchParams();
      for (const pair of new FormData(document.getElementById("my-msg"))) {
          data.append(pair[0], pair[1]);
          console.log(pair)
      }
    
      console.log("abc",data)
        fetch(url, {
          method: 'POST',
          body:data
        }).then(res => res.json())
         .then(response => {
          console.log(response);
        //  serverMessage(response.Reply);
          speechSynthesis.speak( new SpeechSynthesisUtterance(response.Reply))
        
          
         })
          .catch(error => console.error('Error h:', error));

}
       
    </script>