








<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
#noo {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color:none ;
  margin-top: 20px;
}
</style>
<body onload="init()"style="background-image: url('https://cdn.pixabay.com/photo/2014/06/11/17/00/cook-366875__340.jpg');width:device-width;height:30%;margin:0%;background-repeat: no-repeat;background-size: cover;">  

<div >
  <% if(orders[0]!=null){ %>
  <% for(var i=0; i<orders.length; i++){ %>

<h2 style="margin-top:4%;color:white;font-size: 200%;text-align: center;margin-right: 40%"><%=orders[i][0] %></h2>
<table  style="width:30%;margin-bottom: 2%;text-align: center;margin-left:auto;margin-right:auto;">
  <tr>
    <th style="color:white;font-size: 150%">Item Name</th>
    <th style="color:white;font-size: 150%">Quantity</th>
  </tr>
  <% Object.keys(orders[i][1]).forEach(function(item){%>
  <tr>
    <td style="color:white;font-size: 130%;text-align: center"><%=item %></td>
    <td style="color:white;font-size: 130%;text-align: center;"><%=orders[i][1][item] %></td>
  </tr>
  <% }); %>
</table>
<form method="post" action="/done">
  <input type="text" name="table" value="<%=orders[i][0] %>" style="display: none;">
<button style="float :right;margin-right: 30%">Enter</button>
</form>
<form id="frm">
  <input type="text" name="table" value="<%=orders[i][0] %>" style="display: none;">
  <button style="float :right;margin-right: 30%" onclick="nwo()" class="btn btn-primary">No</button>
  <div id="noo">
<input type="text" name="pname" maxlength="50" size="35" placeholder="message" required>
<button onclick="ss()"type="submit">send</button>
</div>
</form>
<% } %>
<% } %>
</div>
<script>
   function init(){
    var a=document.getElementById("noo");
    a.style.display="none";
  }
  function nwo(){
    var a=document.getElementById("noo");
    if (a.style.display == "none") {
a.style.display = "block";
} else {
a.style.display = "none";
}
 
  }
  function ss(){
    var f=document.getElementById("frm");
    f.setAttribute("method","post");
    f.setAttribute("action","/notDone");
  }
</script>
</body>